@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Krona+One&family=Montserrat:wght@400;600&display=swap');
* {
  margin: 0;
  padding: 0;
}

.header {
  padding: 2% 0% 0% 10%; /*10% for aling with body itens*/
}

.header__menu{
  display: flex;
  gap: 80px;
}

.header__menu__iten{
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  color: #22d4fd;
  text-decoration: none;
}

body {
  background-color: #000;
  box-sizing: border-box;
  color: aliceblue;
}