.header {
  padding: 2% 0% 0% 10%; /*10% for aling with body itens*/
}

.header__menu{
  display: flex;
  gap: 80px;
}

.header__menu__iten{
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  color: #22d4fd;
  text-decoration: none;
}

.header__menu__iten:hover, .dropbtn:focus {
  color: #fff;
}

.dropbtn {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  color: #22d4fd;
  background-color: transparent;
  padding: 0px 0px 0px 0px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.dropbtn:hover, .dropbtn:focus {
  color: #fff;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: #22d4fd;
  text-decoration: none;
}

.dropdown-content a:hover {background-color: #22d4fd;}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  color: #fff;
}